$base-bg-color: #fff7f7;
$secondary-bg-color: #dadada;
$light: #fff;
$grey: #666;
$light-grey: #f8fafb;
$green: #1ee3cf;
$blue: #0d3f67;
$magenta: #6b48ff;
$light: #f2f4f6;
$shadow: #ccc;
$card-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
$card-shadow-hover: 0 0 6px 0 rgb(0 0 0 / 30%);
