.main {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
}

.container {
  box-sizing: border-box;
  padding: 0 1rem;
  max-width: 992px;
  margin: 0 auto;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}
