@import "src/styles/colors";

.header {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 $shadow;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  max-width: 992px;
  margin: 0 auto;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.logoWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 576px) {
    margin-bottom: 1rem;
  }
}

.techWrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  user-select: none;
}

.textWrapper {
  padding-left: 1rem;
  user-select: none;

  a {
    font-size: 1.2rem;
    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }
}

.name {
  color: $blue;
  text-decoration: none;
}

.js,
.css,
.html,
.react {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em;

  svg {
    width: 40px;
    height: 40px;
  }
}

.js {
  color: #ffd600;
  background-color: #000;
}

.css {
  color: #0277bd;
}

.html {
  color: #e65100;
}

.react {
  color: #61dafb;
}
