.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }

  @media screen and (max-width: 576px) {
    padding: 0.5rem;
  }
}

.github,
.linkedin,
.telegram,
.vk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  width: 32px;
  height: 32px;

  :hover {
    transform: translateY(-2px);
    transition-duration: 400ms;
  }

  @media screen and (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.github {
  color: #24292f;
}

.linkedin {
  color: #2867b2;
}

.telegram {
  color: #0088cc;
}

.vk {
  color: #4c75a3;
}
